<?xml version="1.0" encoding="UTF-8"?>
<suite name="NDTV UI-API Automation" parallel = "tests" thread-count = "2">
  <test name="RegressionTests" preserve-order="true">
    	<parameter name="Browser" value="CHROME"/>
    	<parameter name="Version" value="85.0.4183.102"/>
  	<groups>
  		<run>
  			<include name="Regression"/>
  		</run>
  	</groups>

    <classes>
		<class name="com.qa.automation.ndtv.weatherreporting.tests.SimpleTests"/>
    </classes>
  </test> <!-- RegressionTests -->
</suite> <!-- Suite -->
